<div class="modal fade" id="registroModalll" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <i class="fas fa-paperclip"></i>
          <h5 class="ms-2">REGISTRO DE CLIENTES</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="nombre" class="col-sm-3 col-form-label">Nombre:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control rounded-input" id="nombre">
            </div>
          </div>
          <div class="form-group row">
            <label for="apellidos" class="col-sm-3 col-form-label">Apellidos:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control rounded-input" id="apellidos">
            </div>
          </div>
          <div class="form-group row">
            <label for="dni" class="col-sm-3 col-form-label">DNI:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control rounded-input" id="dni">
            </div>
          </div>
          <div class="form-group row">
            <label for="direccion" class="col-sm-3 col-form-label">Dirección:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control rounded-input" id="direccion">
            </div>
          </div>
          <div class="form-group row">
            <label for="pais" class="col-sm-3 col-form-label">País:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control rounded-input" id="pais">
            </div>
          </div>
          <div class="form-group row">
            <label for="departamento" class="col-sm-3 col-form-label">Departamento:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control rounded-input" id="departamento">
            </div>
          </div>
          <div class="form-group row">
            <label for="provincia" class="col-sm-3 col-form-label">Provincia:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control rounded-input" id="provincia">
            </div>
          </div>
          <div class="form-group row">
            <label for="telefono" class="col-sm-3 col-form-label">Teléfono:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control rounded-input" id="telefono">
            </div>
          </div>
          <button type="submit" class="btn btn-register">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>