<div class="info-card">
    <h5>Información general:</h5>
    <hr>
    <p><strong class="ps-5">{{ name }}</strong></p>
    <p>DNI: {{ dni }}</p>
    <p>Teléfono: {{ phone }}</p>
    <p>Dirección: {{ address }}</p>
    <p>País: {{ country }}</p>
    <p>Departamento: {{ department }}</p>
    <p>Provincia: {{ province }}</p>
    <div class="icon-edit custom-ps">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 14L3.5 10.5L11.5 2.5L13.5 4.5L5.5 12.5L2 14Z" />
        </svg>
    </div>
</div>

